<div class="hero-unit">
  <h1>RiskIt: a deliberation tool for empowered patients</h1>
  <p><b>RiskIt</b> is a deliberation platform that aims to help people faced with tough medical decisions to make a <i>smarter, more informed</i> decision. Instead of spoonfeeding medical information to individuals from a textbook, RiskIt exposes individuals to the wide array of reasons why <b>patient experts</b> would recommend one therapy versus another. The reasons in favor of one treatment option over another may be medical, practical, or financial, but most importantly, the reasons are <i>personal</i>.</p>
  <p><a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
<h2>This first implementation of RiskIt helps patients with chronic kidney disease deliberate between hemodialysis and peritoneal dialysis. Future implementations will address other tough medical decisions.</h2>
</div>

<p id="notice"><%= notice %></p>
<div id="name-of-condition" style="margin:auto;text-align:center;">
  <h1>Hemodialysis vs. Peritoneal Dialysis</h1>
</div><hr>
<div id="step-one">
  <h1>Step 1: What are your current thoughts on this decision?</h1>
  <br />
</div>
<div id="preamble">
  <label for="belief"> <h3>How informed do you feel?</h2></label>
  <input type="text" id="belief" style="display: none; border: 0; color: #f6931f; font-weight: bold;" />
  <div id="slider"><span id="not-informed">Not Informed</span><span id="informed">Very Informed</span></div>
  <br />
</div>
<div id="leaning">
  <label for="leaning-belief"> <h3>Which way are you leaning?</h3></label>
  <input type="text" id="leaning-belief" style="display: none; border: 0; color: #f6931f; font-weight: bold;" />
  <div id="slider-two"><span id="hd">Hemodialysis</span><span id="pd">Peritoneal Dialysis</span></div>
  <br />
</div>
<div id="step-two">
  <h1>Step 2: Use RiskIt.</h1>
  <h3>Drag reasons from the outer boxes to the inner boxes, or add your own reasons for why you favor hemodialysis or peritoneal dialysis.</h3>
  <br />
</div>
<div id="buttons">
  <!--<button href="#" id="span-pro" class="span-pro-class">Add pro ideas</button>
  <button href="#" id="span-con" class="span-con-class">Add con ideas</button>-->
  <button href="#" id="span-pro" class="btn btn-primary">&laquo; Add a reason in favor of hemodialysis</button>
  <button href="#" id="span-con" class="btn btn-primary">Add a reason in favor of peritoneal dialysis &raquo;</button>
</div>
<div id="the-pro-form">
  <%= render :partial => "side_form", :locals => {:is_left => true, :condition_id => @condition.id} %>
</div>
<div id="the-con-form">
  <%= render :partial => "another_side_form", :locals => {:is_left => false, :condition_id => @condition.id} %>
</div>
<div id="the-body">
  <div class="add-side">
    <% if current_user %>
      <%= link_to "add a side", new_side_path(:condition_id => @condition.id)%>
    <% end %>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div id="instructions">
    <span id="pro-here">Drag Reasons from Here</span>
    <h5 id="to-here-pro">Hemodialysis</h5>
    <span id="con-here">Drag Reasons from Here</span>
    <h5 id="to-here-con">Peritoneal Dialysis</h5>
  </div>
  <br />
  <br />
  <br />
  <div id="the-lists">
    <ul id="pro-ideas" class="to-sort-pro">
      <% (@condition.sides.sort_by{|s| (-s.count + ((Time.now - s.created_at)/1.hour))}).each do |side| %>
        <% if side.is_left %>
          <li class="ui-state-highlight" style="padding: 10px; border-color: #66CCFF; background: #99E6FF"><%= side.body %></li>
        <% end %>
      <% end %>
    </ul>

    <ul id="your-pro-ideas" class="to-sort-pro">
    </ul>
    <ul id="con-ideas" class="to-sort-con">
      <% (@condition.sides.sort_by{|s| -s.count}).each do |side| %>
        <% if !(side.is_left)%>
          <li class="ui-state-highlight" style="padding: 10px; border-color: #33CC33; background: #85E085"><%= side.body %></li>
        <% end %>
      <% end %>
    </ul>
    <ul id="your-con-ideas" class="to-sort-con">
    </ul>
  </div>
</div>
<br />
<br />
<br />
<div id="step-three">
  <h1>Step 3: How do you feel now?</h1>
  <!--<h3> After you've filled in information for Step 1 and Step 3, click here to see what other RiskIt users thought!</h3>-->
  <br />
</div>
<div id="preamble-two">
  <label for="belief-two"> <h3>How informed do you feel?</h2></label>
  <input type="text" id="belief-two" style="display: none; border: 0; color: #f6931f; font-weight: bold;" />
  <div id="slider-three"><span id="not-informed-two">Not Informed</span><span id="informed-two">Very Informed</span></div>
  <br />
</div>
<div id="leaning-two">
  <label for="leaning-belief-two"> <h3>Which way are you leaning?</h3></label>
  <input type="text" id="leaning-belief-two" style="display: none; border: 0; color: #f6931f; font-weight: bold;" />
  <div id="slider-four"><span id="hd-two">Hemodialysis</span><span id="pd-two">Peritoneal Dialysis</span></div>
  <br />
</div>
<div id="step-four">
  <h1>Step 4: Submit your results!</h1>
  <h3> By submitting your list of reasons to us, you'll be influencing how they are displayed to future users. They will appreciate it!</h3>
  <br />
</div>
<div id="submit-button">
  <button id="the-submit-button" class="btn btn-primary btn-large">Submit</button>
</div>
<div id="step-five">
  <h1>Thank You!</h1>
  <!--<h3> After you've filled in information for Step 1 and Step 3, click here to see what other RiskIt users thought!</h3>-->
  <br />
</div>

<script>
  $("#the-submit-button").click(function(){
    $("#your-pro-ideas li").each(function(){
      var text = $( this ).text();
      $.ajax({
        url: 'http://ancient-shore-7826.herokuapp.com/sides',
        type: 'GET',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: $.param({"side": {"body": text}}),
        //success: function(){
        //  alert("Thanks for Playing!");
        //}
      });
    });
    $("#your-con-ideas li").each(function(){
      var text = $( this ).text();
      $.ajax({
        url: 'http://ancient-shore-7826.herokuapp.com/sides',
        type: 'GET',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: $.param({"side": {"body": text}})
        //success: function(){
        //  alert("Thanks for Playing!");
        //}
      });
    });
    var before_info = $("#belief").val();
    var before_leaning = $("#leaning-belief").val();
    var after_info = $("#belief-two").val();
    var after_leaning = $("#leaning-belief-two").val();
    $.ajax({
      url: 'http://http://ancient-shore-7826.herokuapp.com/responses',
      type: 'POST',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      data: $.param({"response":{"before_information": before_info, "before_leaning": before_leaning, "after_information": after_info, "after_leaning": after_leaning}})
      //success: function(){
      //  alert("Your responses have been saved")
      //}
    });
  });

</script>