
<p id="notice"><%= notice %></p>

<p>
  <div class="add-side">
    <% if current_user %>
      <%= link_to "add a side", new_side_path(:condition_id => @condition.id)%>
    <% end %>
  </div>
  <div id="others-thought-id">
    <button href="#" id="others-thought-id-button" class="others-thought-class">Want to see what others thought?</button>
  </div>
  <br />
  <br />
  <div class="condition-name">
    <h1><%= @condition.name %></h1>
  </div>
  <button href="#" id="span-pro" class="span-pro-class">Add Pro Ideas</button>
  <button href="#" id="span-con" class="span-con-class">Add Con Ideas</button>
  <br />
  <br />
  <ul id="pro-ideas" class="to-sort-pro">
    <% @condition.sides.each do |side| %>
      <% if side.is_left %>
        <li class="ui-state-highlight"><%= side.body %></li>
      <% end %>
    <% end %>
  </ul>
  <ul id="your-pro-ideas" class="to-sort-pro">
    <li class="ui-state-highlight">Why choose pro</li>
  </ul>
  <ul id="con-ideas" class="to-sort-con">
    <% @condition.sides.each do |side| %>
      <% if !(side.is_left)%>
        <li class="ui-state-highlight"><%= side.body %></li>
      <% end %>
    <% end %>
  </ul>
  <ul id="your-con-ideas" class="to-sort-con">
    <li class="ui-state-highlight">Why choose con</li>
  </ul
</p>
