
<p id="notice"><%= notice %></p>
<div id="step-one">
  <h1>Step 1: What are your current thoughts on this decision?</h1>
  <br />
</div>
<div id="preamble">
  <label for="belief"> <h3>How informed do you feel?</h2></label>
  <input type="text" id="belief" style="display: none; border: 0; color: #f6931f; font-weight: bold;" />
  <div id="slider"><span id="not-informed">Not Informed</span><span id="informed">Very Informed</span></div>
  <br />
</div>
<div id="leaning">
  <label for="leaning-belief"> <h3>Which way are you leaning?</h3></label>
  <input type="text" id="leaning-belief" style="display: none; border: 0; color: #f6931f; font-weight: bold;" />
  <div id="slider-two"><span id="hd">Hemodialysis</span><span id="pd">Peritoneal Dialysis</span></div>
  <br />
</div>
<div id="step-two">
  <h1>Step 2: What are your current thoughts on this decision?</h1>
  <br />
</div>
<div id="the-body">
  <div class="add-side">
    <% if current_user %>
      <%= link_to "add a side", new_side_path(:condition_id => @condition.id)%>
    <% end %>
  </div>
  <div class="condition-name">
    <h2><%= @condition.name %></h2>
  </div>
  <div id="others-thought-id">
    <button href="#" id="others-thought-id-button" class="others-thought-class">Want to see what others thought?</button>
  </div>
  <br />
  <div id="treatment-titles">
    <h2 id="option-one">Hemodialysis</h2>
    <h2 id="option-two">Peritoneal Dialysis</h2>
  </div>
  <br />
  <br />
  <br />
  <br />
  <button href="#" id="span-pro" class="span-pro-class">Add pro ideas</button>
  <button href="#" id="span-con" class="span-con-class">Add con ideas</button>
  <br />
  <br />
  <div id="the-pro-form">
    <%= render :partial => "side_form", :locals => {:is_left => true, :condition_id => @condition.id} %>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>

  <div id="the-con-form">
    <%= render :partial => "side_form", :locals => {:is_left => false, :condition_id => @condition.id} %>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
  <div id="instructions">
    <span id="pro-here">Why other people favor hemodialysis</span>
    <h5 id="to-here-pro">Hemodialysis</h5>
    <span id="con-here">Why other people favor peritoneal dialysis</span>
    <h5 id="to-here-con">Peritoneal Dialysis</h5>
  </div>
  <br />
  <br />
  <br />
  <div id="the-lists">
    <ul id="pro-ideas" class="to-sort-pro">
      <% @condition.sides.each do |side| %>
        <% if side.is_left %>
          <li class="ui-state-highlight"><%= side.body %></li>
        <% end %>
      <% end %>
    </ul>

    <ul id="your-pro-ideas" class="to-sort-pro">
    </ul>
    <ul id="con-ideas" class="to-sort-con">
      <% @condition.sides.each do |side| %>
        <% if !(side.is_left)%>
          <li class="ui-state-highlight"><%= side.body %></li>
        <% end %>
      <% end %>
    </ul>
    <ul id="your-con-ideas" class="to-sort-con">
    </ul>
  </div>
</div>
