<h1>Listing responses</h1>

<table>
  <thead>
    <tr>
      <th>Before information</th>
      <th>Before leaning</th>
      <th>After information</th>
      <th>After leaning</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.before_information %></td>
        <td><%= response.before_leaning %></td>
        <td><%= response.after_information %></td>
        <td><%= response.after_leaning %></td>
        <td><%= link_to 'Show', response %></td>
        <td><%= link_to 'Edit', edit_response_path(response) %></td>
        <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_response_path %>
