<!DOCTYPE html>
<html>
<head>
  <title>riskIt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="the-header-link">
  	<%= link_to "Welcome to riskIt", root_url %>
  </div>

<%= yield %>

</body>
</html>
